/*Honorary Production by Zekrom*/ 
/*Title and Navigation Bar*/
.header{
    display: flex; 
    justify-content: center; 
    align-items: center;   
    text-align: center; 
}
.header img {
    margin-right: 5px;
}
.topnav {  
    overflow: hidden;  
    background-color: rgb(43, 173, 233);
    font-weight: 900;  
  }  
    
  .topnav a {  
    float: left;  
    display: block;  
    color: white;  
    text-align: center;  
    padding: 14px 16px;  
    text-decoration: none;
    font-weight: 900;  
  }  
    
  .topnav a:hover {  
    background-color: orangered;  
    color: white;  
  }  
    
  .dropbtn {  
    background-color: red;
    display: block;  
    color: white;  
    padding: 14px 16px;  
    border: none;  
    cursor: pointer;
    margin-right: 90px;
    font-weight: 900;
    font-size: medium;    
}
.dropbtn:hover {   
  background-color: orangered;  
  color: white;  
}
  
/* Container style for dropdown content (hidden by default)*/  
.dropdown-content {  
    display: none;  
    position: absolute;
    background-color: #f9f9f9;  
    min-width: 160px;  
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  
    z-index: 1;  
}  
  
/* Link style for dropdown content */  
.dropdown-content a {  
    color: black;  
    padding: 12px 16px;  
    text-decoration: none;  
    display: block;  
    text-align: left;  
}  
  
/* Hover effect of dropdown content links */  
.dropdown-content a:hover {background-color: red}  
  
/* Display the style of dropdown content (when triggered) */  
.show {display:block;}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
}
/*The carousel of the homepage*/
.carousel {  
  position: relative;
  max-width: 100%;  
  width: auto;  
  height: 850px;
  overflow: hidden;  
} 
.carousel img {  
  width: 100%;  
  height: 100%;   
  display: block; /* Display images as block level elements to avoid blank spaces at the bottom */  
}  
.carousel-item {  
  position: absolute;
  width: 100%;  
  height: 100%;  
  opacity: 0;  
  transition: opacity 1s;
  display: block;  
}  
.carousel-item.active {  
  opacity: 1;  
}  
.carousel-controls {  
  text-align: center;  
  margin-top: 10px;  
}  
.carousel-controls button {  
  border: none;  
  background-color:red;  
  color: #fff;   
  cursor: pointer;  
  padding: 10px; 
  font-size: 0;   
  width: 30px;  
  height: 30px;  
  border-radius: 50%;  
  outline: none;  
  transition: background-color 0.3s ease;   
}  
.carousel-controls button:hover {  
  background-color: orangered;  
}
.clearfix::after {  
  content: "";  
  display: table;  
  clear: both;  
}  
  
/*Messages on the homepage*/ 
.leftcolumn {  
  float: left;  
  width: 70%; 
   
  padding: 20px;  
  box-sizing: border-box;  
}  
  
 
.rightcolumn {  
  float: right;  
  width: 30%; 
 
  padding: 20px;  
  box-sizing: border-box;  
}  
  
 
.card {  
  background-color: rgb(144, 231, 247);  
  padding: 20px;  
  margin-bottom: 20px;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  
}  
.card2 {  
  background-color: rgb(218, 79, 183);  
  padding: 20px;  
  margin-bottom: 20px;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  
} .card3 {  
  background-color: rgb(156, 218, 76);  
  padding: 20px;  
  margin-bottom: 20px;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  
} .card4 {  
  background-color: rgb(45, 212, 101);  
  padding: 20px;  
  margin-bottom: 20px;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  
} .card5 {  
  background-color: rgb(79, 154, 252);  
  padding: 20px;  
  margin-bottom: 20px;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  
}  

.card h2, .card h3 {  
  color: #333;  
}  
  

.card p {  
  color: #777;  
}  
  
 
.fakeimg {  
  height: 200px;   
  background: #aaa;  
  color: rgb(255, 255, 255);  
  font-size: 25px;  
  text-align: center;  
  line-height: 200px; 
}  
  

.rightcolumn .fakeimg {  
  height: 100px;  
  line-height: 100px;  
}
/*About pages*/
.about {  
  display: flex;  
  align-items: center;  
  justify-content: space-between;   
  padding: 10px; 
  margin-bottom: 20px;
  margin-top: 20px;  
} 
.about h2 {  
  font-size: 40px;  
  font-family: 'Arial', sans-serif;  
  font-weight: bold;   
  color: #d32424;  
  text-align: center; 
  
} 

.about_text {  
  width: 50%;   
  font-size: 25px;  
  text-align: center;  
}  

.about_image {  
  width: 45%; 
}  

.about_image img {  
  width: 100%; 
  height: auto;   
}
 
/*login form */
form {  
        display: flex;  
        flex-direction: column;  
        align-items: center;
        min-height: 70vh ; 
    }  
/*Shopping Cart Related*/      
    .cart-items {  
        margin-top: 20px;  
        border: 1px solid #ccc;  
        padding: 20px;  
      }  
      .cart-item {  
        display: flex;  
        justify-content: space-between;  
        align-items: center;  
        margin-bottom: 20px;  
      } 
      #cart-summary span {  
        font-size: 30px;  
    } 
      .cart-item-quantity,  
      .cart-item-price {  
        margin-left: 20px;  
      }  
      #cart-summary {  
        margin-top: 20px;  
        border: 1px solid #ccc;  
        padding: 10px;  
      }  
      .cart-summary-item {  
        display: flex;  
        justify-content: space-between;  
        align-items: center;  
      }
      .products, .cart {  
      margin-bottom: 20px; 
    }  
      
    .products {  
      display: flex;  
      flex-wrap: wrap; /* If the number of products exceeds four, they will be displayed in a new lines */  
      justify-content: space-between; /* Uniformly distributed items, but the spacing between the first and last items and the edge of the container may not be uniform */    
    }  
      
    .product {  
      flex: 0 0 20%;   
      margin: 20px;   
      text-align: center;  
      box-sizing: border-box;
      height: 240px;  
      border: 1px solid #ccc;   
      padding: 10px;  
    }
    .product2 {
      background-color: #f75f5f;  
      flex: 0 0 20%;   
      margin: 20px;   
      text-align: center;  
      box-sizing: border-box;
      height: 240px;  
      border: 1px solid #f75f5f;   
      padding: 10px;  
    }
    
      
   
      
    .course {  
      display: flex;   
      align-items: flex-start;  
      border: 1px solid #ccc;  
      padding: 10px;  
      box-sizing: border-box; / 
  }  
    
  .course_pic {  
      flex: 0 0 auto; 
      margin-right: 10px;  
  }  
    
  .course_pic img {  
      width: 300px; 
      height: auto;   
  }  
    
  .course_content {  
      flex: 1 1 auto;   
      display: flex;   
      flex-direction: column; 
      align-items: flex-start;   
  }  
    
  .register_button {  
      margin-top: 20px;   
  }
/*project*/
.container5 {  
  display: flex;  
  justify-content: space-around; /* Or use space best, Center, etc */  
  align-items: center;  
  flex-wrap: wrap; /* If line breaks are needed */  
}  

.box { 
  background-color: #71c9ce; 
  flex: 0 0 20%;  
  text-align: center;  
  margin: 10px;  
  border: 1px solid #71c9ce;  
  padding: 10px;  
  box-sizing: border-box;
  height: 500px;  
} 
.box2 {
  background-color: #a6e3e9;  
  flex: 0 0 20%;  
  text-align: center;  
  margin: 10px;  
  border: 1px solid #a6e3e9;  
  padding: 10px;  
  box-sizing: border-box;
  height: 500px;  
}  

.circle-image {  
  border-radius: 50%; /* Circular image */  
  width: 150px;   
  height: 150px;  
  object-fit: cover; 
  margin-top: 10px;  
}  

.box p {  
  margin-top: 10px;   
}
/*To Do Items*/
#addDiv {
  width: 600px;
  height: 40px;
  display: flex;
  margin: 20px auto;
  justify-content: space-between;
}
#addDiv>input {
  width: 79%;
}
#addDiv>button {
  width: 20%;
  background-color: orange;
  color: white;
  border: none;
}
#addDiv>button:active {
  /* Set pseudo class flag*/
  background-color: gray;
}

#container6 {
  display: flex;
  /*Center two child elements together*/
  justify-content: center;
  margin-bottom: 220px;
}
#todo {
  width: 300px;
}
#done {
  width: 300px;
}
#todo>h2,
#done>h2 {
  height: 40px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}
.row1 {
  height:40px;
  display:flex;
  /*Alignment method*/
  align-items: center;
}
.row1>input {
  margin: 10px;
}
.row1>span {
  width: 60%;
}
.row1>button {
  width: 45;
  height:30px;
}

/*calculator*/ 
.calculator {
 padding: 30px;
 display: flex;
 justify-content: center;
}

td {
 width: 20%;
 padding: 5px;
}

table {
 border-radius: 16px;
 background: #EAECF3;
 padding: 5px;
      }

.button {
 width: 100%;
 height: 40px;
 border: 0;
 border-radius: 16px;
 box-shadow: inset 1px 1px 1px 0px rgb(230 244 255 / 80%), inset -1px -1px 1px 0px rgb(40 48 85 / 30%), 1px 1px 3px 0px rgb(40 50 85 / 10%);
 user-select: none;
 color: #283155;
 text-shadow: 2px 1px 1px rgb(0 0 0 / 10%);
 opacity: 2 !important;
 cursor: pointer;
 background-image: linear-gradient(135deg, #F4F5F6, #fff);
 font-size: 16px;
      }




      .operator {
          background-image: linear-gradient(133deg, #D9DCE8, #E2E4EF);
          width: 100%;
          height: 40px;
          border: 0;
          border-radius: 16px;
          box-shadow: inset 1px 1px 1px 0px rgb(230 244 255 / 80%), inset -1px -1px 1px 0px rgb(40 48 85 / 30%), 1px 1px 3px 0px rgb(40 50 85 / 10%);
          user-select: none;
          color: #283155;
          text-shadow: 2px 1px 1px rgb(0 0 0 / 10%);
          opacity: 2 !important;
          cursor: pointer;
          background-image: linear-gradient(135deg, #F4F5F6, #fff);
      }
      .add {
          height: 90px;
      }
      .del-button {
          background-image: linear-gradient(133deg, #FFA80E, #FFC355);
          color: #fff;
          width: 100%;
          height: 40px;
          border: 0;
          border-radius: 16px;
          box-shadow: inset 1px 1px 1px 0px rgb(230 244 255 / 80%), inset -1px -1px 1px 0px rgb(40 48 85 / 30%), 1px 1px 3px 0px rgb(40 50 85 / 10%);
          user-select: none;
          color: #283155;
          text-shadow: 2px 1px 1px rgb(0 0 0 / 10%);
          opacity: 2 !important;
          cursor: pointer;
         
          font-size: 16px;
      }

      .equal-button {
          box-shadow: inset 1px 1px 1px 0px rgb(223 255 255 / 21%), inset -2px -2px 1px 0px rgb(40 49 85 / 30%), 1px 1px 3px 0px rgb(157 174 167 / 20%);
          background: #4f6ef2;
          color: #fff;
          width: 100%;
          height: 40px;
          border: 0;
          border-radius: 16px;
          box-shadow: inset 1px 1px 1px 0px rgb(230 244 255 / 80%), inset -1px -1px 1px 0px rgb(40 48 85 / 30%), 1px 1px 3px 0px rgb(40 50 85 / 10%);
          user-select: none;
          color: #283155;
          text-shadow: 2px 1px 1px rgb(0 0 0 / 10%);
          opacity: 2 !important;
          cursor: pointer;
          
          font-size: 16px;
      }
      .result {
          padding-left: 10px;
          height: 56px;
          font-size: 20px;
          border: 0;
          border-radius: 18px;
          background: #fff;
          box-shadow: inset -1px -1px 1px 0 rgb(223 255 257 / 70%);
          box-shadow: inset 1px 1px 1px 0 rgb(40 49 86 / 30%);
          overflow: hidden;
      }  
/*footer*/
  .footer {  
    clear: both;  
    width: 100%; 
    background-color: rgb(43, 173, 233); 
    color: white;    
    padding: 20px;  
    box-sizing: border-box;
    display: flex; 
    align-items: center;   
  } 
  .footer img {  
    margin-right: 5px;
}  
  .footer h3 {
    font-weight: 400;
  }